
/*for all but opera & firefox2.0*/
.yui3-widget.yui3-overlay{background:rgba(128, 128, 128, 0.2);*background:#e9e9e9;font-size:12px;font-family:Tahoma;}
/*hack for Opera*/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
	head~body .yui3-widget.yui3-overlay{background:#e9e9e9;}
}
/*hack for firefox2.0*/
.yui3-widget.yui3-overlay, x:-moz-any-link {background:#e9e9e9;}
/*hack for firefox3.0 & upper*/
.yui3-widget.yui3-overlay, x:-moz-any-link x:default {background:rgba(128, 128, 128, 0.2);}


.yui3-widget-stdmod {position:relative;top:-3px;left:-3px;background:#f0faff;border:1px solid #b2d1ff;}
.yui3-overlay-content .yui3-widget-hd {background:transparent;border:white solid;border-width:1px 1px 0px 1px;text-align:left;font-weight:bold;color:black;font-size:14px;height:14px;padding:6px 0 5px 10px;_padding-bottom:0px;}
.yui3-overlay-content .yui3-widget-hd .close {margin-right:5px;}
.yui3-overlay-content .yui3-widget-bd {height:auto;border:white solid;border-width:0px 1px 0px 1px;padding-left:20px;padding-top:10px;padding-right:20px;padding-bottom:10px;}
.yui3-overlay-content .yui3-widget-ft {border:white solid;border-width:0px 1px 1px 1px;padding-right:9px;height:34px;}
.yui3-overlay-content .yui3-widget-hd .title{float:left;}
.yui3-overlay-content .yui3-widget-hd .close{float:right;cursor:mouse}

