body{
	background:#ccc;
}
.page{
	background:#fff;
}
/**
 * 	瀑布流样式
 *  add by baohe 2012-9-22
 */
.dr-blog-list-plaza .leftCon{
	width:741px;
	overflow:hidden;
}
.J_plaza_brook{
	float:left;
	width:237px;
}
.J_plaza_brook .waterfall-item{
	width: 237px; 
	background:#fff;
	margin-bottom: 10px;
	overflow: hidden;
	position:relative;
}
.J_plaza_brook .item-con{
	width:235px;
	border:1px solid #c8d6c6;
}
.J_plaza_brook .boxshadow{
	background:#D2D2D2;
    border-top:1px solid #B2B2B2;
    font-size:0;
    height:1px;
    line-height: 0;
    width: 237px;
}


.J_plaza_brook .title a{
	font-size:14px;
	color:#3e3e3e;
	white-space:nowrap;
	line-height:30px;
	line-height:33px\0;
	*position:relative;
	*top:3px;
}
.J_plaza_brook .author{
	width:205px;
	white-space:nowrap;
	overflow:hidden;
}
.J_plaza_brook .author,
.J_plaza_brook .author a{
	color:#696969;
	line-height:17px;
	height:20px;
}
.J_plaza_brook .title{
	padding-bottom:0;
	padding-left:15px;
	height:38px;
	width:215px;
	white-space: nowrap;
	color:#3E3E3E;
	overflow:hidden;
	position:relative;
	text-overflow: ellipsis;
}
.J_plaza_brook .author{
	padding-bottom:10px;
	width:220;
	padding-left:15px;
	display:block;
	text-overflow: ellipsis;
}
.J_plaza_brook .img-box{
	width:235px;
	overflow:hidden;
}
.J_plaza_brook .big-img{
	overflow:hidden;
	display:block;
}
.J_plaza_brook .big-img img{
	border:none;
	display:block;
}
.J_plaza_brook .mask{
	margin-top:-5px;
	display:none;
	left:0;
	width:235px;
	height:5px;
	overflow:hidden;
	position:relative;
	z-index:10;
	bottom:0;
	background:url(http://img01.taobaocdn.com/tps/i1/T1aHDKXetqXXX1lMLb-236-5.png) repeat-x 0 0;
	*background:none;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="http://img01.taobaocdn.com/tps/i1/T1aHDKXetqXXX1lMLb-236-5.png");
}
.J_plaza_brook .operation{
	width:220 px;
	background:#e4efe0;
	display:block;
	height:20px;
	padding:3px 0 4px 15px;
	color:#37855a;
}
.J_plaza_brook .operation li{
	width:76px;
	height:15px;
	padding:2px 0 3px 0;
	float:left;
	white-space:nowrap;
	overflow:hidden;
}
.J_plaza_brook .operation .comment-li{
	width:60px;
}
/**
 * 	sprite
 */
.blog-list-item .operation .icon,
.dr-blog-list-plaza .select-type .mode-change,
.J_plaza_brook .operation .icon,
.dr-blog-list-plaza .rank li.current{
	background-image:url(http://img04.taobaocdn.com/tps/i4/T1DjLNXi4lXXbbl0Qb-100-400.jpg);
	background-repeat:no-repeat;
}
.J_plaza_brook .operation .icon{
	width:45px;
	padding-left:18px;
	overflow:hidden;
	height:15px;
	line-height:15px;
	display:inline-block;
}
.J_plaza_brook .operation a{
	color:#bababa;
} 
.J_plaza_brook .operation a:hover{
	color:#37855A;
	text-decoration:underline;
} 
.J_plaza_brook .read{
	background-position:-84px 0;
}
.J_plaza_brook .collect{
	background-position:-84px -34px;
}
.J_plaza_brook .comment{
	background-position:-84px -67px;
}
.J_plaza_brook .read:hover{
	background-position:0 0;
}
.J_plaza_brook .collect:hover{
	background-position:1px -34px;
}
.J_plaza_brook .comment:hover{
	background-position:0px -67px;
}
.J_plaza_brook .read-li .hover{
	background-position:0 0;
}
.J_plaza_brook .collect-li .cancelcollectbtn,
.J_plaza_brook .collect-li .hover{
	background-position:1px -34px;
}
.J_plaza_brook .comment-li .hover{
	background-position:0px -67px;
}

.J_plaza_brook .lookMore{
	background: url("http://img02.taobaocdn.com/tps/i2/T1PkjfXkFbXXbVuODr-8-7.png") no-repeat scroll 52px 11px transparent;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	margin-left: 10px;
	padding: 0 20px 4px 0;
	text-indent: 0;
	vertical-align: middle;
	width: 48px;
}
.J_plaza_brook .para{
	width:211px;
	padding:5px 15px;
	color:#929292;
	line-height:26px;
}