body{
	font-family:'Î¢ÈíÑÅºÚ';
}
.page{
	width:100%;
}
.header{
	height:50px;
	width:95%;
	padding-left:5%;
	background:#ff7272;
	line-height:50px;
	color:white;
	margin-bottom:20px;
	font-size:24px;
}
.content{
	width:100%;
	
}
.content .conleft,
.content .conRight{
	float:left;
	min-height:800px;
}
.content .conleft{
	width:20%;
	padding:3px;
	border:1px solid #a14b4b;
	border-radius:4px;
	background:#f8e4e4;
	margin:0 20px 0 40px;
}
.content .conRight{
	width:72%;
	padding:3px;
	border:1px solid #a14b4b;
	border-radius:4px;
	background:#f8e4e4;
}
.content .conleft .current{
	background:#e9762a;
	color:#e6f2e2;
}
#J_showBox{
	height:800px;
}
