/*全局css*/
#site-nav-bd{
    z-index: 99;
}


.clearfix:after {
    content:".";
    height:0;
    display:block;
    visibility:hidden;
    clear:both;
}
.clearfix {
    *zoom:1;
}
.clearfixup {
    clear:both; 
}
.hidden{
	display: none;
}
body{
	width:1000px;
	font: 12px/1.5 tahoma,Arial,'\5B8B\4F53';
}

a{
	color:#37855a;
}
a:hover{
	text-decoration: underline;
}
h3,h3 input{
    font-family: tahoma, Arial, '微软雅黑', '宋体';
}
td{
	border:1px solid #3D3D3D;
}
.ks-contentbox td{
	border:none;
}
/*全局遮罩*/
.globe-mask {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background-color:#000;
	filter: alpha(opacity = 50);
    opacity: 0.5;
    z-index:100;
}

#pages{
    
/*	background:url('http://img01.taobaocdn.com/tps/i1/T1qTm_Xm4lXXXXXXXX-89-89.png') repeat center center fixed;*/
	background-color: #E2E2E2;
	*zoom:1;
}

#contents{
	width:990px;
	margin:0 auto;
}
#contents .left-large-col{
	width:720px;
	float:left;
	position:relative;
	z-index: 101;
	/*background-color:#FFFFFF;*/
}
#contents .left-large-col .forie-shadow{
	box-shadow:1px 2px 2px 0px #aaa;
	width:720px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

#contents .right-small-col{
	width:270px;
	float:right;
	position:relative;
	z-index:1;
}
/* 登陆框关闭按钮图标 */

.J_closeBtn{
	background-image:url("http://img01.taobaocdn.com/tps/i1/T14o18XbhlXXXXXXXX-12-12.gif");
	width:12px;
	height:12px;
	position:absolute;
	right:6px;
	top:6px;
	cursor: pointer;
	font-size:0;
	line-height:0;
}
/* VIP-V图标 */
.vip-ico{
	background-image:url("http://img01.taobaocdn.com/tps/i1/T1zsfhXkJpXXX7o0fl-250-230.png");
	_background-image:url("http://img01.taobaocdn.com/tps/i1/T1zsfhXkJpXXX7o0fl-250-230.png");
	background-position:0px -125px;
	width:17px;
	height:17px;
	position: absolute;
	top:46px;
	right:-2px;
}



/* 分页 前端用 */
.pagination a.pg-item, .pagination a.pg-item:link, .pagination a.pg-item:visited,
.pagination a.pg-prev, .pagination a.pg-prev:link, .pagination a.pg-prev:visited,
.pagination a.pg-next, .pagination a.pg-next:link, .pagination a.pg-next:visited {
    color: #37855A;
}
.pagination a.pg-item:hover, .pagination a.pg-item:active,
.pagination a.pg-prev:hover, .pagination a.pg-prev:active,
.pagination a.pg-next:hover, .pagination a.pg-next:active {
    color: #37855A;
}
.pagination a.pg-disabled, .pagination .pg-skip,
.pagination a.pg-disabled:link, .pagination a.pg-disabled:hover,
.pagination a.pg-disabled:visited, .pagination a.pg-disabled:active {
    color: #999;
}
.pagination {
    text-align:center;
    margin: 10px 0;
}
.pagination .pg-item,
.pagination .pg-prev, .pagination .pg-next, .pagination .pg-item {
    margin-left: 4px;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pagination a:hover {
    text-decoration: none;
}

.pagination .pg-prev, .pagination .pg-next, .pagination .pg-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 1px solid #c5d5bf;
    background-color: #f6f6f6;
    padding: 3px 8px;
}
.pagination a.pg-prev, .pagination a.pg-next, .pagination a.pg-item {
    cursor: pointer;
}

.pagination .pg-prev:hover, .pagination .pg-next:hover {
    border-color: #c7e5ff;
    cursor: pointer;
}

.pagination .pg-prev:active, .pagination .pg-next:active {
    border-color: #2f96ff;
}

.pagination .pg-current {
    background-color: #e4efe0;
    font-weight: bold;
    color: #37855a;
    border-color: #37855a;
}
.pagination .pg-item:hover, .pagination .pg-item:active,
.pagination .pg-prev:hover, .pagination .pg-prev:active,
.pagination .pg-next:hover, .pagination .pg-next:active {
    border-color: #37855a;
    background-color: #e4efe0;
}

.pagination .pg-disabled,
.pagination .pg-disabled:link, .pagination .pg-disabled:hover,
.pagination .pg-disabled:visited, .pagination .pg-disabled:active {
    background-color: #f4f4f4;
    border-color: #ddd;
    cursor: text;
}

.pagination .pg-skip .pg-jump {
    margin-right: 4px;
    padding: 3px 8px;
    border: 1px solid #ddd;

}
/*.loading{
	background-image:url("http://img01.taobaocdn.com/tps/i1/T142_rXXRtXXajxhTf-42-42.gif");
	background-repeat:no-repeat;
}*/
.c2c-button{
	display:none;
}



/* 分页 开发用 */
.pagination-fordev {
    float: left;
    font-family: Tahoma;
    height: 25px;
    left: 50%;
    padding: 30px 0 20px;
    position: relative;
}
.pagination-fordev .page-bottom {
    left: -50%;
    position: relative;
}
*html .pagination-fordev .page-bottom {
    float: left;
}
.pagination-fordev a, 
.pagination-fordev .page-info, 
.pagination-fordev .page-start, 
.pagination-fordev .page-end, 
.pagination-fordev .page-break, 
.pagination-fordev .page-skip, 
.pagination-fordev .page-cur {
    float: left;
    font-family: Arial,SimSun;
    font-size: 12px;
    height: 20px;
    margin-right: 5px;
    min-width: 15px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    line-height:22px;
    border-radius: 2px;
}
.pagination-fordev a, 
.pagination-fordev .page-start,
.pagination-fordev .page-end {
    border: 1px solid #CCCCCC;
    padding: 2px 6px;
}
.pagination-fordev a:hover {
    border: 1px solid #37855A;
    text-decoration: none;
}
.pagination-fordev .page-prev, 
.pagination-fordev .page-next, 
.pagination-fordev .page-end, 
.pagination-fordev .page-start {
    font-size: 12px;
    width: auto;
    line-height:22px;
}

.pagination-fordev .page-cur {
    background-color: #8CA6A3;
    border: 1px solid #37855A;
    color: #FFFFFF;
    font-weight: 700;
}
.pagination-fordev .page-skip {
    color: #999999;
    width: auto;
    vertical-align: middle;
}
.pagination-fordev .page-skip span{
    display:inline-block;
    line-height:20px;
    vertical-align: middle;
    font-family:'宋体';
}
.pagination-fordev .page-skip input {
    border: 1px solid #999999;
    font-family: Arial,SimSun;
    height: 18px;
    margin: 0 5px;
    text-align: center;
    width: 30px;
}
.pagination-fordev .page-skip button {
    border:1px solid #8CA6A3;
    cursor: pointer;
    height: 22px;
    margin: 0 0 0 5px;
    overflow: hidden;
    width: 44px;
    border-radius:2px;
    font-size:12px;
}



/* 关注按钮 */
.addBtn, .succeedBtn, .together{
	width:89px;
	height:24px;
	display: block;
	background-image:url("http://img03.taobaocdn.com/tps/i3/T1F91_XfBeXXXXXXXX-89-120.gif");
	background-repeat:no-repeat;
}
.addBtn{
	background-position:0 0;
}
.addBtn:hover{
	background-position:0 -24px;
}
.succeedBtn{
	background-position:0 -48px;
}
.succeedBtn:hover, .together:hover{
	background-position:0 -96px;
}
.together{
	background-position:0 -72px;
}
/*个人中心的个人信息区块需求，导致主题内容距离banner为30px*/
#pages .bg-rightcolgray{
    margin-top:25px;
    background:url('http://img01.taobaocdn.com/tps/i1/T1oGC.XotlXXXlNhfs-990-10.png') repeat-y center 0 fixed;
}
#contents{
    margin-top:25px;
    background:url('http://img01.taobaocdn.com/tps/i1/T1oGC.XotlXXXlNhfs-990-10.png') repeat-y center 0 fixed;
}

/*加在contents上*/
#pages .nocolbackground{
    background:none;
}


/*框架背景透明*/
#contents .bg-transparent{
    background-color:transparent;
    z-index: 49;
}


/* 返回顶部 */
.back-to-top{
	background: url("http://img01.taobaocdn.com/tps/i1/T1tazhXj8nXXaQq4ne-36-38.png") no-repeat scroll 0 0 transparent;
    width: 36px;
    height: 38px;
    overflow: hidden;
    position:fixed;
    right:50%;
    bottom:20%;
    margin-right:-270px;
    
    _position: absolute;
    _right: -36px;
    _bottom:0;
    _margin-right:0;
}
#footer{
    *zoom:1;
}

/*全局灰色字体*/
.globegraycolor{
    color:#d2d2d2;
    cursor: default;
}
.globegraycolor:hover{
    text-decoration:none;
}

/*tip提示*/
p.tip{
	color:#8D8D8D;
	margin:5px 0;
}
p.erroricon{
	background: url("http://img04.taobaocdn.com/tps/i4/T18mrKXeRhXXbfN._L-720-150.png") no-repeat scroll -703px -45px transparent;
    color: #C10000;
    padding: 0 0 0 24px;
}
/*推荐 【荐】 <span class="Jcss_jian">[荐]</span> */
#pages #contents .Jcss_jian{
	display:inline;
	color:#e6952c;
	margin:0 2px;
	float:none;
	font-weight:normal;
	font-size:14px;
}

/*头部css*/
.header{
	border-top:1px solid #dcdcdc;
	height:52px;
	background:url('http://img01.taobaocdn.com/tps/i1/T1lPS_XmhrXXXXXXXX-10-52.png') repeat-x 0 0;
	margin-bottom:20px;
	position:relative;
	z-index: 50;
}
.header .centerwrap{
	width:990px;
	margin:0 auto;
	padding-top:11px;
	height:30px;
	zoom:1;
	position: relative;
}
.header .centerwrap .logo,
.header .centerwrap .nav{
    float:left;
    display:inline;
}

.header .centerwrap .logo{
    width:200px;
    height:40px;
    background:url('http://img02.taobaocdn.com/tps/i2/T1Y4LsXa0hXXaadkrh-169-28.png') no-repeat -1px 0px;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', 
src='http://img02.taobaocdn.com/tps/i2/T1Y4LsXa0hXXaadkrh-169-28.png');
_background: none;
}
.lte8 .header .centerwrap .logo{
    background-position:2px 0;
}
.header .centerwrap .logo a{
    display:inline-block;
}
.header .centerwrap .logo .tblogo{
    width:60px;
    height:30px;
    margin-right:10px;
}
.header .centerwrap .sublogo{
    width:100px;
    height:30px;
    
}
.header .centerwrap .nav{
    position:relative;
    top:5px;
    left:100px;
    
}
.header .centerwrap .nav a{
    display:inline-block;
    position:relative;
    width:80px;
    text-align:center;
    font-size:16px;
    color:#D3FFE7;
    font-weight:bold;
    font-family:"微软雅黑";
    margin:0 10px;
}
.header .centerwrap .nav a:hover{
    color:#FFFFFF;
    text-decoration:none;
}
.header .centerwrap .nav a.current{
    color:#FFFFFF;
}
.header .centerwrap .icon-operate{
    float:right;
    display:inline;
    position: relative;
}

.header .centerwrap .icon-operate a{
    display:inline-block;
    width:20px;
    height:20px;
    background:url('http://img01.taobaocdn.com/tps/i1/T1DxvBXcFjXXbCFGnm-70-45.png') no-repeat;
    margin-left:15px;
    position:relative;
    float:left;
}

.header .centerwrap .nav a.current b,
.header .centerwrap .icon-operate a.o-hover b,
.header .centerwrap .icon-operate a.h-hover b
{
    display:inline-block;
    width:0px;
    height:0px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #175a34;
    position:absolute;
    top:29px;
    left:35px;
    font-size:0px;
    line-height:0px;
    _top:27px;
    _border-left:5px solid #8Ec6a7;
    _border-right:5px solid #8Ec6a7;
}


.header .centerwrap .icon-operate .my_information b{
    display:inline-block;
    width:0px;
    height:0px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #175a34;
    position:absolute;
    top:29px;
    left:5px;
    font-size:0px;
    line-height:0px;
    _top:27px;
    _border-left:5px solid #8Ec6a7;
    _border-right:5px solid #8Ec6a7;	
}

.header .centerwrap .icon-operate{
    margin-top:6px;
    font-size:0;
}

.header .centerwrap .icon-operate a.o-hover b,
.header .centerwrap .icon-operate a.h-hover b{
    top:28px;
    left:4px;
}

.header .centerwrap .icon-operate .my_home{
    background-position:-25px 0;
}
.header .centerwrap .icon-operate .my_operate{
    background-position:0 0;
}

.header .centerwrap .icon-operate .my_information{
    background-position:-50px 0;
}




.header .centerwrap .icon-operate .my_information:hover{
    background-position:-50px -25px;
}

.header .centerwrap .icon-operate .my_home:hover,
.header .centerwrap .icon-operate .h-hover{
    background-position:-25px -25px;
}
.header .centerwrap .icon-operate .my_operate:hover,
.header .centerwrap .icon-operate .o-hover{
    background-position:0 -25px;
}




.header .centerwrap .icon-operate .num{
	background:url(http://img03.taobaocdn.com/tps/i3/T13ADGXeRgXXb7ZAza-19-13.png) no-repeat 0 0;
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='http://img03.taobaocdn.com/tps/i3/T13ADGXeRgXXb7ZAza-19-13.png');
	width:19px;
	height:14px;
	position: absolute;
	left:24px;
	top:-3px;
	font-size:10px;
	text-align:center;
	text-decoration: none;
	color:#ffffff;
	line-height:12px;
	display:none;
}


.header .centerwrap .info-wrap{
	/*background:url(http://img03.taobaocdn.com/tps/i3/T1ZvrEXhRjXXbEfvAu-108-117.png) no-repeat 0 0;*/
	/*_background: none;
	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='http://img02.taobaocdn.com/tps/i2/T1aEYBXgXfXXXv_Xks-110-144.png');*/
	width:110px;
	height:144px;
	position:absolute;
	left:890px;
	top:38px;
	display:none;
}

.header .centerwrap .info-wrap .info-wrap-top{
	width:108px;
	height:12px;
	background:url(http://img02.taobaocdn.com/tps/i2/T1mOjvXeBtXXaArnQ5-108-12.png) no-repeat 0 0;
	_margin-bottom:-3px;
	*margin-bottom:-1px;
}

.header .centerwrap .info-wrap .info-nav{
	width:108px;
	display:block;
	overflow: hidden;
}

.header .centerwrap .info-wrap .info-nav .info-nav-li{
	 line-height: 27px;
	
	width:108px;
	height:28px;
	*margin-top:-3px;
	background:url(http://img04.taobaocdn.com/tps/i4/T1U7zAXj0mXXcvMD35-108-28.png) no-repeat 0 0;
	display:none;
}
.header .centerwrap .info-wrap .info-nav .info-nav-li .nava{
	float:left;
	width:68px;
	display:block;
	margin-left:10px;
	_display:inline;
}
.header .centerwrap .info-wrap .info-nav .info-nav-li .nava:hover{
	font-weight:bold;
}

.header .centerwrap .info-wrap .info-nav .info-nav-li .nn{
	margin-left:15px;
	color:#38875b;
	text-decoration: none;
	position: absolute;
	right:7px;
}

.header .centerwrap .info-wrap .info-footer{
	width:108px;
	height:24px;
    text-align: center;
    background:url(http://img03.taobaocdn.com/tps/i3/T1pvHGXddcXXX6K_Z5-108-24.png) no-repeat 0 0;
    _margin-top:-3px;
    margin-top:-3px\8;
    *margin-top:-3px;
}

.header .centerwrap .info-wrap .info-footer .zhidao{
	color:#38875b;
}








.personal-blog-header{
	/*width:1279px;*/
	height:307px;
	/*background:#A4BB9B;*/
	overflow: hidden;
}

.personal-blog-header .bg{
	height:270px;
	background:#d9e3d8;
	_overflow: hidden;
}

.personal-blog-header .bg .bd{
	position: relative;
	width:990px;
	height:307px;
	/*background:#336699;*/
	margin:0 auto;
	/*background:url(http://img04.taobaocdn.com/tps/i4/T183TgXXJaXXbYijnh-990-269.png) no-repeat 0 1px;*/
}

.personal-blog-header .bg .bg0{
	position: relative;
	width:990px;
	height:307px;
	background:#336699;
	margin:0 auto;
	background:url(http://img01.taobaocdn.com/tps/i1/T1dVYpXfBcXXbYijnh-990-269.png) no-repeat 0 1px;
	
}
.personal-blog-header .bg .bg1{
	position: relative;
	width:990px;
	height:307px;
	background:#336699;
	margin:0 auto;
	background:url(http://img04.taobaocdn.com/tps/i4/T1GeLpXe4cXXc54VPk-991-269.png) no-repeat 0 1px;
}
.personal-blog-header .bg .bg2{
	position: relative;
	width:990px;
	height:307px;
	background:#336699;
	margin:0 auto;
	background:url(http://img03.taobaocdn.com/tps/i3/T1axTpXbtbXXbYijnh-990-269.png) no-repeat 0 1px;
	
}

.personal-blog-header .bg .bg3{
	position: relative;
	width:990px;
	height:307px;
	background:#336699;
	margin:0 auto;
	background:url(http://img02.taobaocdn.com/tps/i2/T1mT2oXc4gXXbYijnh-990-269.png) no-repeat 0 1px;
	
}

.personal-blog-header .bg .bg4{
	position: relative;
	width:990px;
	height:307px;
	background:#336699;
	margin:0 auto;
	background:url(http://img02.taobaocdn.com/tps/i2/T1dnfnXj8sXXbYijnh-990-269.png) no-repeat 0 1px;
	
}

.personal-blog-header .bg .bg5{
	position: relative;
	width:990px;
	height:307px;
	background:#336699;
	margin:0 auto;
	background:url(http://img01.taobaocdn.com/tps/i1/T1TF6oXgRqXXbYijnh-990-269.png) no-repeat 0 1px;
	
}
.personal-blog-header .bg .bg6{
	position: relative;
	width:990px;
	height:307px;
	background:#336699;
	margin:0 auto;
	background:url(http://img01.taobaocdn.com/tps/i1/T10QHoXXVhXXbYijnh-990-269.png) no-repeat 0 1px;
	
}
.personal-blog-header .bg .bg7{
	position: relative;
	width:990px;
	height:307px;
	background:#336699;
	margin:0 auto;
	background:url(http://img04.taobaocdn.com/tps/i4/T1MQ_pXX0XXXbYijnh-990-269.png) no-repeat 0 1px;
}








.personal-blog-header .bg .bd .topbtn{
	position: absolute;
	top:-1px;
	right:0px;
	
	width:54px;
	height:51px;
}

.personal-blog-header .bg .bd .topbtn a{
	background:url(http://img02.taobaocdn.com/tps/i2/T1GUreXolrXXXhOjri-54-51.png) no-repeat 0 0;
	width:54px;
	height:51px;
	display:block;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='http://img02.taobaocdn.com/tps/i2/T1GUreXolrXXXhOjri-54-51.png');
	_background: none;
}

.personal-blog-header .bg .bd .topmenu{
	position: absolute;
	bottom: 37px;
	width:990px;
	height:26px;
	border-bottom:1px solid #b9cdc4;
	_border-bottom:0px solid #b9cdc4;
	
	float:left;
	z-index: 10;
}



.personal-blog-header .bg .bd .topmenu ul{
	position: relative;
	width:272px;
	height:26px;
	left:13px;
}

.personal-blog-header .bg .bd .topmenu ul li{
	float:left;
	margin-right:3px;
	width:84px;
	height:27px;
	display:block;
}

.personal-blog-header .bg .bd .topmenu ul li a.menuselected{
	width:84px;
	height:27px;
	text-align:center;
	line-height:28px;
	display:block;
	font-family:"宋体";
	font-size:12px;
    color:#616161;
	background:url(http://img01.taobaocdn.com/tps/i1/T1ipLgXXVdXXXtbCHp-84-27.png) no-repeat center 0;
	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='http://img01.taobaocdn.com/tps/i1/T1ipLgXXVdXXXtbCHp-84-27.png');
	_background: none;
}

.personal-blog-header .bg .bd .topmenu ul li a{
	width:84px;
	height:27px;
	text-align:center;
	line-height:28px;
	display:block;
	font-size:12px;
	font-family:"宋体";
	color:#ffffff;
	background:url(http://img04.taobaocdn.com/tps/i4/T1kl_gXohaXXbrfYHp-82-27.png) no-repeat center 0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='http://img04.taobaocdn.com/tps/i4/T1kl_gXohaXXbrfYHp-82-27.png');
	_background: none;
}

.personal-blog-header .bg .bd .bottommenu{
	position:absolute;
	bottom:0px;
	_bottom:-1px;
	left:0px;
	width:988px;
	height:37px;
	overflow: hidden;
	border-left:1px solid #b9cdc4;
	border-right:1px solid #b9cdc4;
	border-bottom:1px solid #b9cdc4;
	_border-top:1px solid #b9cdc4;
	display:block;
	
	background:#f3f3f3;
}

.personal-blog-header .bg .bd .bottommenu ul{
	/*width:988px;*/
	width:314px;
	height:37px;
	margin-left:20px;
	overflow: hidden;
}

.personal-blog-header .bg .bd .bottommenu ul li{
	float:left;
	margin-right:20px;
	margin-top:10px;
}

.personal-blog-header .bg .bd .bottommenu ul li a.menuselected{
	background:#1d623b;
	padding:5px;
	/*line-height:28px;*/
	margin-top:5px;
	font-size:12px;
	font-family: "宋体";
	color:#ffffff;
	_padding-bottom:1px;
}

.personal-blog-header .bg .bd .bottommenu ul li a{
	
	padding:5px;
	/*line-height:28px;*/
	margin-top:5px;
	font-size:12px;
	font-family: "宋体";
}

.personal-blog-header .bg .bd .bottommenu .rightbtn-bowen{
	position:absolute;
	right:6px;
	top:5px;
	float:left;
	width:84px;
	height:30px;

	
}

.personal-blog-header .bg .bd .bottommenu .rightbtn-bowen a{
	width:84px;
	height:30px;
	background:url(http://img01.taobaocdn.com/tps/i1/T1LLrgXm4rXXXtbCHp-84-30.png) no-repeat center 0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='http://img01.taobaocdn.com/tps/i1/T1LLrgXm4rXXXtbCHp-84-30.png');
	_background: none;
	display:block;
	font-family: "微软雅黑";
	font-size:14px;
	color:#ffffff;
}


.personal-blog-header .bg .bd .bottommenu .rightbtn-editor{
	position:absolute;
	right:6px;
	top:5px;
	float:left;
	width:84px;
	height:30px;

	
}

.personal-blog-header .bg .bd .bottommenu .rightbtn-editor a{
	width:84px;
	height:30px;
	background:url(http://img01.taobaocdn.com/tps/i1/T1y0rgXnhrXXXtbCHp-84-30.png) no-repeat center 0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='http://img01.taobaocdn.com/tps/i1/T1y0rgXnhrXXXtbCHp-84-30.png');
	_background: none;
	display:block;
	font-family: "微软雅黑";
	font-size:14px;
	color:#ffffff;
}
.personal-blog-header .bg .bd .personalinfo{
	position:absolute;
	width:337px;
	/*height:96px;*/
	/*background:#336699;*/
	right:32px;
	/*bottom:100px;*/
	bottom: 43px;
	height:153px;
	overflow: hidden;

}

.personal-blog-header .bg .bd .personalinfo .left{
	width:95px;
	/*height:96px;*/
	float:left;
	height:158px;
/*	background:#aaaaaa;*/
}

.personal-blog-header .bg .bd .personalinfo .left .tu{
	width:88px;
	height:87px;
	display:block;
	border-radius: 4px;
	/*background:#173D04;*/
	margin:0 auto;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	position: relative;
	top:2px;
	padding-top:3px;
	box-shadow: 1px 1px 1px 0 #AAAAAA;
	border: 1px solid #aaaaaa;
	overflow: hidden;
}
.personal-blog-header .bg .bd .personalinfo .left .tu a{
	position: relative;
	top:1px;
	left:3px;
	overflow: hidden;
}

.personal-blog-header .bg .bd .personalinfo .left a img{
	width:82px;
	height:83px;
	
}


.personal-blog-header .bg .bd .personalinfo .left .btn{
	width:89px;
	height:24px;
	margin-bottom:0px;
	_margin-bottom:0px;
	top:10px;
	left:2px;
	left:3px\0;
	*left:3px;
	position: relative;
}

.personal-blog-header .bg .bd .personalinfo .left .btn .ctrlbtn{
	width:89px;
	height:24px;
	margin-bottom:0px;
}
	
.personal-blog-header .bg .bd .personalinfo .right{
	float:left;
	margin-left:10px;

	
}

.personal-blog-header .bg .bd .personalinfo .right .title{
	height:17px;
	margin-bottom: 10px;
	padding-bottom:1px;
	width:217px;
	overflow: hidden;
}				

.personal-blog-header .bg .bd .personalinfo .right .title-master{
	height:17px;
	padding-bottom: 10px;
	width:200px;
	*width:230px;
	_width:200px;
	text-overflow: ellipsis;
	display:inline-block;
	white-space:nowrap;
	
}

.personal-blog-header .bg .bd .personalinfo .right .title h3{
	font-size:14px;
	font-family: "微软雅黑";
	color:#6c6c6c;
	font-weight:bold;
	width:149px;
	height:17px;
	display:inline;
	overflow: hidden;
	
}

.personal-blog-header .bg .bd .personalinfo .right .title-master h3{
	font-size:14px;
	font-family: "微软雅黑";
	color:#6c6c6c;
	font-weight:bold;
	width:200px;
	height:17px;
	display:inline;
	overflow: hidden;
}

.personal-blog-header .bg .bd .personalinfo .right .title-master h3 a{
	font-size:14px;
	font-family: "微软雅黑";
	color:#6c6c6c;
	font-weight:bold;
	width:200px;
	margin-right:3px;
}

.personal-blog-header .bg .bd .personalinfo .right .title h3 a{
	font-size:14px;
	font-family: "微软雅黑";
	color:#6c6c6c;
	font-weight:bold;
}

.personal-blog-header .bg .bd .personalinfo .right .title s{
	display:inline-block;
	width:17px;
	height:17px;
	*margin-left:0px !important;
	_margin-left:0px;
	margin-left:3px;
	background:url(http://img04.taobaocdn.com/tps/i4/T1N_rgXbBcXXcu5FDa-17-17.png) no-repeat right 0px;
}

.personal-blog-header .bg .bd .personalinfo .right .title-master s a{
	width:17px;
	height:17px;
	display:block;
}

.personal-blog-header .bg .bd .personalinfo .right .title-master s{
		display:inline-block;
		
		width:17px;
		height:17px;
		*margin-left:0px;
		_margin-left:-1px;
		margin-left:-1px !important;
		margin-left:0px;
		background:url(http://img04.taobaocdn.com/tps/i4/T1N_rgXbBcXXcu5FDa-17-17.png) no-repeat right 0px;
}
.personal-blog-header .bg .bd .personalinfo .right .btn{
	width:89px;
	height:24px;
	margin-bottom:0px;
	_margin-bottom:0px;
}

.personal-blog-header .bg .bd .personalinfo .right .btn .ctrlbtn{
	width:89px;
	height:24px;
	margin-bottom:0px;
}

/*.personal-blog-header .bg .bd .personalinfo .right .btn a, .personal-blog-header .bg .bd .personalinfo .right .btn a:hover{
	background:url(http://img03.taobaocdn.com/tps/i3/T1F91_XfBeXXXXXXXX-89-120.gif) no-repeat 0 0;
}			
.personal-blog-header .bg .bd .personalinfo .right .btn a{
	width:89px;
	height:24px;
	display:block;
	background-position: 0px 0px;
	margin-bottom:10px;
}
.personal-blog-header .bg .bd .personalinfo .right .btn a:hover{
	width:89px;
	height:24px;
	display:block;
	background-position: 0px -24px;
	margin-bottom:10px;
}*/

.personal-blog-header .bg .bd .personalinfo .right .infolist{
	width:232px;
	height:40px;
	_margin-top:-2px;
	overflow: hidden;					
	position: relative;
	top:5px;
	
}

.personal-blog-header .bg .bd .personalinfo .right .infoedit{
	width:216px;
	height:40px;
	overflow: hidden;
	color:#7a7a7a;
	position: relative;
	top:5px;
	z-index:11;
	word-wrap:break-word;
	word-break:break-all;
	display:block;
	left:9px;
}
.personal-blog-header .bg .bd .personalinfo .right .infoedit em{
	padding-right:3px;
}

.personal-blog-header .bg .bd .infobox{

	position:relative;
	
	width:232px;
	display:block;
	height:28px;
	overflow: hidden;
}

.personal-blog-header .bg .bd .infobox .taba{
	padding-left:3px;
	padding-right:3px;
	height:22px;
	display:block;
	border:1px solid #dae4d6;
	float:left;
	margin-right:5px;
	background:#ffffff;
	line-height:23px;
	text-align:center;
	color:#37855a;
}

.personal-blog-header .bg .bd .infobox .miaoshu{
	line-height:24px;
	_line-height:25px;
	color:#7a7a7a;
	font-size:12px;
	display:block;
	width:321px;
	height:45px;
}

.personal-blog-header .bg .bd .infobox .alink{
	line-height:24px;
	*line-height:14px;
	_line-height:24px;
	position: relative;
	z-index:3;
	width:72px;
	display:inline-block;
	float:left;
	height:22px;
}


.personal-blog-header .bg .bd .personalinfo .right .infolist .block-first{
	float:left;
	width:39px;
	height:35px;
	background:url(http://img02.taobaocdn.com/tps/i2/T1hlDeXnRvXXbP2ko.-1-35.png) no-repeat right center;
}

.personal-blog-header .bg .bd .personalinfo .right .infolist .block{
	float:left;
	width:48px;
	height:35px;
	text-align: center;
	background:url(http://img02.taobaocdn.com/tps/i2/T1hlDeXnRvXXbP2ko.-1-35.png) no-repeat right center;
	
	font-weight:normal;
}

.personal-blog-header .bg .bd .personalinfo .right .infolist .block-last{
	float:left;
	width:48px;
	height:35px;
	text-align: center;
	font-weight:normal;
}

.personal-blog-header .bg .bd .personalinfo .right .infolist .block-first h4,.personal-blog-header .bg .bd .personalinfo .right .infolist .block h4,.personal-blog-header .bg .bd .personalinfo .right .infolist .block-last h4{
	font-size:12px;
	color:#7a7a7a;
	font-family: "宋体";
	font-weight:normal;
}


.dr-personal-blog-header-pop-up{
	position: relative;
	width:656px;
	height:320px;
	
	margin:0 auto;
	background:#ffffff;
	
}

.dr-personal-blog-header-pop-up .hd{
	position: relative;
	width:656px;
	height:62px;
	background:url(http://img04.taobaocdn.com/tps/i4/T1ZrPhXfFbXXcvHHLm-188-20.png) no-repeat 25px center;
}

.dr-personal-blog-header-pop-up .bd{
	position: relative;
	width:656px;
	height:187px;
	/*overflow: hidden;*/
}

.dr-personal-blog-header-pop-up .ft{
	position: relative;
	width:656px;
	height:71px;
	
}

.dr-personal-blog-header-pop-up .bd ul{
	width:607px;
	height:187px;
	display:block;
	margin:0 auto;
}

.dr-personal-blog-header-pop-up .bd ul li{
	float:left;
	width:140px;
	height:85px;
	margin-right:15px;
	margin-bottom:16px;
}

.dr-personal-blog-header-pop-up .bd ul li a:hover{
	width:138px;
	height:83px;
	display: block;
	border:1px solid #37855a;
}

.dr-personal-blog-header-pop-up .bd ul li a:hover img{
	width:138px;
	height:83px;
}
.dr-personal-blog-header-pop-up .bd ul li a{
	width:138px;
	height:83px;
	border:1px solid #c1c1c1;
	display:block;
	/*margin-top:1px;*/
}

.dr-personal-blog-header-pop-up .bd ul li .hover{
	width:138px;
	height:83px;
	display: block;
	border:1px solid #37855a;
	/*margin-top:1px;*/
}

.dr-personal-blog-header-pop-up .bd ul li a img{
	width:138px;
	height:83px;
	border: 0px;
}

.dr-personal-blog-header-pop-up .ft .btn{
	position: absolute;
	width:122px;
	height:24px;
	top:23px;
	left:510px;
}

.dr-personal-blog-header-pop-up .ft .btn .save, .dr-personal-blog-header-pop-up .exit{
	background:url(http://img03.taobaocdn.com/tps/i3/T1Td6hXmxbXXakHjYj-57-48.png) no-repeat 0 0;
}

.dr-personal-blog-header-pop-up .ft .btn .save{
	background-position: 0px 0px;
	width:57px;
	height:24px;
	overflow: hidden;
	display:block;
	float:left;
}

.dr-personal-blog-header-pop-up .ft .btn .exit{
	background-position: 0px -24px;
	width:57px;
	height:24px;
	overflow: hidden;
	float:right;
	display:block;
}

				
/*修改描述信息提出层 begin*/
.personal-blog-header-describe{
	width:360px;
	height:177px;
	background:#ffffff;
	position: relative;
}

.personal-blog-header-describe .hd{
	position:relative;
	width:360px;
	height:47px;
	top:0px;
	left:0px;
}

.personal-blog-header-describe .hd h5{
	left: 50px;
    position: relative;
    top: 25px;
    font-size:14px;
    color:#7a7a7a;
    font-style:normal;
}
.personal-blog-header-describe .bd{
	position: relative;
	width:360px;
	height:67px;
}

.personal-blog-header-describe .bd textarea{
	position: relative;
	width:258px;
	height:48px;
	border:1px solid #cdcdcd;
	resize: none;
	left:50px;
	overflow:hidden;
	word-wrap:break-word;
	word-break:break-all;
	display:block;
}

.personal-blog-header-describe .bd .tishi{
	position: relative;
	width:120px;
	height:20px;
	left:210px;
	top:1px;
	color:#959595;
}

.personal-blog-header-describe .ft-btn{
	position: relative;
	width:123px;
	height:25px;
	left:119px;
	top:15px;
}

.personal-blog-header-describe  .ft-btn .ok,.personal-blog-header-describe  .ft-btn .close{
	background:url(http://img02.taobaocdn.com/tps/i2/T1ni_XXjlpXXXLinfS-300-130.png) no-repeat 0 0;
}
.personal-blog-header-describe  .ft-btn .ok{
	background-position:-60px -106px;
	
	position: relative;
	width:53px;
	height:25px;
	display:block;
	margin-right:17px;
	float:left;
	text-align:center;
	line-height:20px;
	color:#ffffff;
}

.personal-blog-header-describe .ft-btn .close{
	background-position:0 -106px; 
	position: relative;
	width:53px;
	height:25px;
	display:block;
	margin-right:0px;
	float:left;
	text-align:center;
	line-height:20px;
	color:#7f7f7f;
	
}


/*修改描述信息提出层 end*/
				
				
				
				
				
				
				
				
				
				
				

